__pycache__
_trial_temp
*.egg-info
.eggs
venv
dist
.coverage
coverage.xml
base.lcov
head.lcov
lcov.info
.idea
.coveragerc
.coverage.*
.envrc
.direnv/
.devenv/
media/
.mypy_cache/
.pytest_cache/
.ruff_cache/
